<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>News Artciles App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="app-container">
        <header>
            <div class="">
                Logo
            </div>
        </header>

        <main>
            <section>
                <form id="urlForm" action="/submit" method="post">
                    <div>
                        <label for="title">Story Title:</label>
                        <input id="title" type="text" name="title" placeholder="Enter a title you're interested in"
                            required>
                    </div>

                    <div>
                        <label for="number">How many stories to fetch?</label>
                        <input id="noOfStories" type="number" name="noOfStories" placeholder="Max value is 6" max="6"
                            required>
                    </div>

                    <div>
                        <label for="language">Language:</label>
                        <select name="language" id="language" required>
                            <option value="en">English</option>
                            <option value="fr">French</option>
                            <option value="es">Spanish</option>
                        </select>
                    </div>

                    <br>

                    <button id="submitButton" type="submit">Submit</button>
                </form>

            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Copyright &copy; 2025 Shaher Jamal Eddin for Udacity</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </div>
</body>

</html>